<div class="jumbotron error-container">
  <h2 class="error-title">Oops there were some errors:</h2>
    
  <%=@message %>
  <a class="btn waves-effect waves-light green" href="/sessions/login">Try again</a>
</div>