 <nav class=" waves-effect waves-light black">
    <div class="nav-wrapper">
      <a class="brand-logo center" href="/users/dashboard"><img class="logo" src="https://cdn-images-1.medium.com/max/1600/1*EK8I8k19h9V04NnyO59C_A.png"></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li class="active"><a href="/users/dashboard">Home</a></li>
          <li><a href="/users/user_profile">Profile</a></li>
           <li><a href="/users/meetup">All meetups</a></li>
          <li><a href="/new_meetup">Create a meetup</a></li>
          <li><a href="/logout">Logout</a></li>
      </ul>
    </div>
  </nav>

<div class="container">
<h6><i>  Welcome, <%=@user.user_name%>!</h6>





  <div class="row container" style="width: 750px;">
    <div class="col  m6">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" id="tech" src="https://az616578.vo.msecnd.net/files/2017/02/21/636232341000937145-2058526602_technology.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Tech<i class="material-icons right">more_vert</i></span>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Tech<i class="material-icons right">close</i></span>
            <p>Find like minded people who have a passion for tech! From coding langauges to the newest gadgets and everything inbetween.</p>
            <p><a href="/tech">Learn More!</a></p>
        </div>
      </div>
    </div> <!--row end -->

    <div class="col m6">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" id="outdoors" src="https://cdn1.wimp.com/images/sthumbs/2016/04/5d54d6c0f9cea4a8c8217485b6c04319_hikeCustom1.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Outdoors<i class="material-icons right">more_vert</i></span>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Outdoors<i class="material-icons right">close</i></span>
            <p>For those who love getting out in nature! Find some new friends to hike, climb, and explore with!</p>
            <p><a href="/outdoors">Learn More!</a></p>
        </div>
      </div>
    </div>
    <div class="col m6">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" id="cooking" src="https://wallpaperscraft.com/image/cook_foreman_kitchen_dishes_80590_1920x1080.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Cooking<i class="material-icons right">more_vert</i></span>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Cooking<i class="material-icons right">close</i></span>
            <p>Have you ever wanted to learn how to cook a certain cuisine? Or just learn how to in general? Meet up here!</p>
            <p><a href="/cooking">Learn More!</a></p>
        </div>
      </div>
    </div>
    <div class="col m6">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" id="gaming" src="https://mosthdwallpapers.com/wp-content/uploads/2016/05/Download-Action-Game-Full-HD-1080p-Wallpaper.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Gaming<i class="material-icons right">more_vert</i></span>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Gaming<i class="material-icons right">close</i></span>
            <p>Find new friends to game with! Console, computer, card, board, dice - whatever your preference is! </p>
            <p><a href="/gaming">Learn More!</a></p>
        </div>
      </div>
    </div>
  </div>
</div>