
      <div class="container landing">
        <h1>We love to meet</h1>
        <h3>Join us today for meet ups around seattle</h3>
        <a class="btn waves-effect waves-light red" href="/registrations/signup">SIGN UP</a>
        <a class="btn waves-effect waves-light green" href="/sessions/login">Log-in</a>
      </div>
  