
      <div class="container landing">

        <h1 style="color: #2d302c; text-align: center;">We love to meet</h1>
        <h3 style="color: #0e5e32; text-align: center;">Join us today for meet ups around seattle</h3>
        <div style="text-align:center;">
        <a class="btn waves-effect waves-light red" href="/registrations/signup">SIGN UP</a>
        <a class="btn waves-effect waves-light green" href="/sessions/login">Log-in</a>
    </div>
      </div>
  