<div class="container" id="meetup">
	<form method="post" action="/meetup">
		<fieldset>
			<h3> Create new meetup</h3>
				<div class="form-group">
				    <label for="name">Name</label>
				    <input type="text"  name="name">
			    </div>

			    <div class="form-group">
				  <select class="browser-default" name="category">
				    <option value="" disabled selected>Choose category</option>
				    <option value="tech">Tech</option>
				    <option value="cooking">Cooking</option>
				    <option value="outdoor">Outdoor</option>
				    <option value="gaming">Gaming</option>
				  </select>
				</div>

				<div class="form-group">
			    	<label for="address">Address</label>
			    	<input type="text" name="address">
			    </div>

			    <div class="form-group">
			    	<label for="date">Date</label>
			     	<input type="date" name="date" class="datepicker">
			     </div>
			     <input type="submit" name="submit" class="submit btn btn-success" value="Submit" />
     </fieldset>

</form>
<br>
    <a style="float: right;" class="btn waves-effect waves-light red" href="/users/dashboard">Cancel</a>
</div>
