<h3>Welcome, <%=@user.user_name%>!</h3>

<a href="/logout">Log Out</a>



<h4 class="page-header">Please lets know some information so we can find right match for you</h4>
<nav>
    <div class="nav-wrapper">
      <div class="col s12">
        <a href="#!" class="breadcrumb">First</a>
        <a href="#!" class="breadcrumb">Second</a>
        <a href="#!" class="breadcrumb">Third</a>
      </div>
    </div>
  </nav>