

  <nav>
    <div class="nav-wrapper green">
      <a href="#" class="brand-logo green">
      </i>UserName</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="/sessions/logout">Logout</a></li>
      </ul>
    </div>
  </nav>

  <div class="container">
    <h1>Welcome erb tag for user name</h1>

      <center>Explore things to do you loser <a href="/subjects"> subjects</a></center>

      <h3>Recommended Activities</h3>
  </div>
